   <!-- navbar-dark: against a dark back ground -->
    <!-- bg-sucess: to make is opaque with corresonding colour  -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <!--div class="container"--!>
            <a class="navbarbrand js-scroll-trigger" type="button" href="#top">
            </a>
            <button data-toggler="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle Navigation" class="navbar-toggler navbar-toggler-right"
                type="button">
                <span class="navbar-toggler-icon"></span>

                <div class="collapse navbar-collapse justify-content-end" id="navbarResponsive">
                    <!-- nav-pills -->
                    <!-- justify-content-center/end -->
                    <!-- flex-columns: vertically plaed -->
                    <!-- nav-fills: evenly spaces the contents -->
                    <ul class="navbar-nav text-uppercase ml-auto">
                        <li class="nav-item">
                            <a href="#link1" class="nav-link active js-scroll-trigger">link1</a>
                        </li>
                        <li class="nav-item">
                            <a href="#link2" class="nav-link js-scroll-trigger">link2</a>
                        </li>
                        <li class="nav-item"><a href="#link3" class="nav-link js-scroll-trigger">link3</a></li>

                        <form class="form-inline my2 my-lg-0">
                            <input type="text" class="form-control mr-sm-2" name="" id="" aria-describedby="helpId"
                                placeholder="Search">
                            <button class="btn btn-outline-success my-2 my-sm0">
                                Search
                            </button>
                        </form>
                    </ul>
                </div>
        <!--/div--!>
    </nav>
